mat-form-field {
    width: 100%;
}

form {
    height: auto;
}
.error {
    color: #d11a2a;
    margin-top: -25px;
    font-size: 12px;
}

.file-select {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    height: 50px;
    cursor: pointer;
  }
  
  .file-select::before {
    background-color: #ff4081;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
    cursor: pointer;
  }
  
  #src-file1::before {
    content: 'Seleccionar Archivo 1';
    cursor: pointer;
  }